*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Font-size set to 62.5% because that is the result of 10/16 (set to 10 pixels, meaning 1rem = 10px */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #F3F6EA;
  max-width: 100vw; }

.l-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.l-wrapper {
  background: #cadf9e; }

@media only screen and (min-width: 600px) {
  .l-container {
    max-width: 85%; } }

@media only screen and (min-width: 800px) {
  .l-wrapper {
    margin: 0 auto;
    max-width: 120rem; }
  .l-container {
    width: 75%;
    max-width: 100rem; } }

body {
  font-size: 1.6rem; }

p, li {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #2F4858;
  line-height: 2.5rem; }

h1, h2, h3, h4, h5, h6 {
  color: #2F4858;
  font-family: 'Special Elite', cursive;
  text-align: center;
  letter-spacing: .1rem;
  line-height: 3.5rem; }

h1, h2 {
  color: #2F4858; }

h3 {
  font-size: 2rem; }

a {
  text-decoration: none; }
  a:active, a:visited {
    color: #2F4858; }

@media only screen and (min-width: 800px) {
  p, li {
    line-height: 3.5rem; } }

.c-about__main {
  background: white;
  padding: 2rem;
  width: 85vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .c-about__main div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .c-about__main img {
    max-width: 24rem;
    max-height: 32rem;
    width: 100%; }
  .c-about__main p {
    max-width: 65rem;
    text-align: left; }

.c-about__quote {
  background: #faec9b;
  border-radius: 3px;
  position: relative;
  width: 100%;
  max-width: 40rem;
  display: inline-block;
  margin: 5rem; }
  .c-about__quote p {
    padding: 3rem 6.5rem; }
  .c-about__quote img {
    width: 3rem;
    position: absolute; }
  .c-about__quote-before {
    top: 1.5rem;
    left: 1.5rem; }
  .c-about__quote-after {
    bottom: 1.5rem;
    right: 1.5rem; }

@media only screen and (min-width: 1100px) {
  .c-about__main {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 2rem 5rem;
    width: 105rem; }
  .c-about__main-top {
    grid-column: 2;
    grid-row: 1; }
  .c-about__main-image {
    padding: 10px;
    background: #cadf9e;
    width: 24rem;
    height: 36rem;
    justify-self: center;
    position: relative; }
    .c-about__main-image img {
      position: absolute;
      top: 2rem;
      left: 3rem; }
  .c-about__main-image1 {
    grid-column: 1;
    grid-row: 1; }
  .c-about__main-bottom {
    grid-column: 1;
    grid-row: 2; }
  .c-about__main-image2 {
    grid-column: 2;
    grid-row: 2; } }

.c-contact__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 5rem; }

.c-contact__item {
  text-align: center;
  padding: 2rem 0; }

.c-contact__map {
  text-align: center; }

.fas {
  color: #2F4858;
  font-size: 40px;
  width: 40px; }

iframe {
  max-width: 90vw; }

@media only screen and (min-width: 900px) {
  .c-contact__details {
    flex-direction: row;
    margin: 5rem 15rem;
    justify-content: space-around; } }

.c-footer {
  align-items: center;
  background: #cadf9e;
  color: #006274;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif; }
  .c-footer__copyright {
    margin: 1rem 0; }
  .c-footer__designed-by {
    margin-bottom: 1rem; }

.c-gallery {
  margin: 10px 50px; }
  .c-gallery img {
    transition: 1s;
    padding: 1.5rem; }
  .c-gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1); }

.c-welcome {
  background: #cadf9e;
  padding: 2rem; }
  .c-welcome h1 {
    margin-top: 3rem; }

.c-opening {
  background: linear-gradient(rgba(202, 223, 158, 0.4), rgba(202, 223, 158, 0.4)), url(../../images/wall.jpg);
  background-position: center;
  background-size: cover;
  color: white; }
  .c-opening__times {
    background: rgba(0, 0, 0, 0.35);
    min-width: 80%;
    margin: 3rem 0;
    padding: 3rem 0; }
  .c-opening h2 {
    color: white; }
  .c-opening ul {
    list-style: none;
    padding-top: 2rem; }
  .c-opening li {
    color: white;
    text-align: center; }

.c-recommendations {
  background: #F3F6EA;
  padding: 3rem 0; }
  .c-recommendations h2 {
    padding-bottom: 2rem; }
  .c-recommendations__section {
    background: white;
    border: 3px solid #006274;
    width: 32rem;
    position: relative;
    height: 30rem;
    overflow: hidden; }
    .c-recommendations__section p {
      padding: 3rem 5rem;
      line-height: 1.5; }
  .c-recommendations__image1 {
    width: 35rem;
    position: absolute;
    top: -5rem; }
  .c-recommendations__image2 {
    left: -150px;
    position: absolute;
    width: 53rem; }
  .c-recommendations__image3 {
    left: -150px;
    position: absolute;
    width: 53rem; }
  .c-recommendations__speech-before {
    position: absolute;
    width: 3rem;
    top: 1.5rem;
    left: 1.5rem; }
  .c-recommendations__speech-after {
    position: absolute;
    width: 3rem;
    bottom: 1.5rem;
    right: 1.5rem; }

.c-recommendations__main {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  grid-template-rows: repeat(6, auto);
  max-width: 115rem; }

.c-recommendations__section1 {
  grid-row-start: 1;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section2 {
  grid-row-start: 2;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section3 {
  grid-row-start: 3;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section4 {
  grid-row-start: 4;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section5 {
  grid-row-start: 5;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section6 {
  grid-row-start: 6;
  grid-column-start: 2; }

@media only screen and (min-width: 750px) {
  .c-recommendations__main {
    grid-template-columns: 5rem auto auto 5rem;
    grid-template-rows: repeat(3, auto); }
  .c-recommendations__section {
    width: 30rem; }
  .c-recommendations__section1 {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: end;
    border-right: none; }
  .c-recommendations__section2 {
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: start; }
  .c-recommendations__section3 {
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: start; }
  .c-recommendations__section4 {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: end;
    border-right: none; }
  .c-recommendations__section5 {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: end;
    border-bottom: 3px solid #006274;
    border-right: none; }
  .c-recommendations__section6 {
    grid-row-start: 3;
    grid-column-start: 3;
    justify-self: start; } }

@media only screen and (min-width: 1200px) {
  .c-recommendations__main {
    grid-template-columns: 5rem repeat(3, auto) 5rem;
    grid-template-rows: auto auto; }
  .c-recommendations__section {
    width: 35rem; }
  .c-recommendations__section1 {
    grid-row-start: 1;
    grid-column-start: 2; }
  .c-recommendations__section2 {
    grid-row-start: 1;
    grid-column-start: 3;
    padding-top: 3rem; }
  .c-recommendations__section3 {
    grid-row-start: 1;
    grid-column-start: 4;
    border-left: none; }
  .c-recommendations__section4 {
    grid-row-start: 2;
    grid-column-start: 2;
    border-bottom: 3px solid #006274;
    padding-top: 3rem; }
  .c-recommendations__section5 {
    grid-row-start: 2;
    grid-column-start: 3;
    border-bottom: 3px solid #006274;
    border-right: 3px solid #006274; }
  .c-recommendations__section6 {
    grid-row-start: 2;
    grid-column-start: 4;
    border-left: none;
    padding-top: 3rem; } }

header {
  display: flex;
  flex-direction: column; }

.c-header__left {
  align-items: center;
  background: #faec9b;
  display: flex;
  min-height: 25rem;
  justify-content: center; }
  .c-header__left img {
    width: 70%;
    max-width: 40rem;
    margin: 3.5rem 0; }

.c-header__right {
  align-items: center;
  background-position: 10%, 10%;
  display: flex;
  justify-content: center;
  min-height: 25rem; }
  .c-header__right--home {
    background: linear-gradient(rgba(149, 192, 59, 0.6), rgba(149, 192, 59, 0.6)), url(../../images/header-home.jpg);
    background-size: cover;
    background-position: center; }
  .c-header__right--contact {
    background: linear-gradient(rgba(149, 192, 59, 0.6), rgba(149, 192, 59, 0.6)), url(../../images/fireplace.jpg); }
  .c-header__right--about {
    background: linear-gradient(rgba(149, 192, 59, 0.6), rgba(149, 192, 59, 0.6)), url(../../images/exterior.JPG);
    background-size: cover;
    background-position: center; }
  .c-header__right--gallery {
    background: linear-gradient(rgba(149, 192, 59, 0.6), rgba(149, 192, 59, 0.6)), url(../../images/image-gallery/afternoon-tea-2.jpg);
    background-position: bottom center; }
  .c-header__right--menu {
    background: linear-gradient(rgba(149, 192, 59, 0.6), rgba(149, 192, 59, 0.6)), url(../../images/image-gallery/cake-and-tea.jpg);
    background-size: cover;
    background-position: center; }

.c-header__text {
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-around;
  text-shadow: 1px 1px 5px black; }
  .c-header__text h3 {
    color: white;
    padding-top: 1rem;
    text-align: center; }
  .c-header__text::before, .c-header__text::after {
    background-color: white;
    content: "";
    height: 1px;
    margin: 0 auto;
    width: 55%; }

@media only screen and (min-width: 800px) {
  header {
    flex-direction: row; }
  .c-header__left {
    width: 50%;
    height: 40rem; }
  .c-header__right {
    width: 50%;
    height: 40rem;
    display: flex;
    align-items: flex-end; }
  .c-header__text {
    height: 23rem;
    background: rgba(81, 81, 81, 0.45);
    width: 100%;
    justify-content: center; }
    .c-header__text h3 {
      text-align: left;
      margin-left: 5rem; }
    .c-header__text::before, .c-header__text::after {
      margin: 0;
      margin-left: 5rem;
      width: 20%; }
    .c-header__text::after {
      margin-top: .7rem; } }

.c-menu__links {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-top: 1rem; }
  .c-menu__links button {
    background: none;
    border: 2px solid #2F4858;
    color: #2F4858;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    margin: 1rem;
    padding: 1rem 0 .7rem 0;
    width: 16rem;
    outline: none; }
  .c-menu__links button:hover {
    background-color: #fcf5cc; }
  .c-menu__links button.active {
    background-color: #2F4858;
    color: white; }

.c-menu__title-breakfast {
  background: url(../../images/menu-eggs.jpg);
  background-position: center center; }

.c-menu__title-drinks {
  background: url(../../images/coffees.jpg);
  background-size: 30rem; }

.c-menu__title-mains {
  background: url(../../images/menu-hotdog.JPG);
  background-size: 55rem;
  background-position-y: 40rem; }

.c-menu__title-nibbles {
  background-image: url(../../images/image-gallery/chocolate-orange-cake.jpg);
  background-position-x: center top; }

.c-menu__title {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  height: 24rem;
  background-color: #faec9b;
  background-size: cover; }
  .c-menu__title h2, .c-menu__title h3 {
    color: white;
    text-shadow: 1px 1px 5px black;
    text-align: left;
    padding-top: 2rem;
    margin-left: 3rem;
    max-width: 90%; }

.c-menu__section-main {
  background-color: #fcf5cc;
  border: 3px solid #2F4858;
  margin-bottom: 3rem;
  max-width: 100rem;
  width: 90vw; }

.c-menu__menu-section {
  padding-top: 3rem;
  text-align: center; }

.c-menu__item-name {
  font-family: 'Special Elite', cursive;
  font-size: 2rem; }

.c-menu__item {
  color: #2F4858;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 40rem;
  min-width: 25rem;
  padding: 1rem;
  text-align: center; }
  .c-menu__item p {
    font-size: 1.6rem;
    line-height: 2rem; }

.c-menu__item-extra {
  font-weight: bold;
  margin-top: -4rem; }

.c-menu__sandwiches-prices {
  color: #2F4858;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  padding-top: 1rem; }

.c-menu__menu-section-sandwiches p {
  margin: 0 auto; }

.c-menu__menu-section-drinks {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .c-menu__menu-section-drinks h3 {
    color: #2F4858;
    margin: 2rem 0; }
  .c-menu__menu-section-drinks p {
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
    margin-top: -3rem; }

.c-menu__drink-item {
  display: flex;
  justify-content: space-between; }
  .c-menu__drink-item div {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif; }

.c-menu__drink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
  max-width: 40rem; }
  .c-menu__drink-list li {
    font-size: 1.6rem;
    font-style: italic;
    margin: .2em .4em;
    padding: 0 .4em; }

.tabcontent {
  display: none; }

.tabcontent {
  animation: fadeEffect 2.5s;
  /* Fading effect takes 1 second */ }

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media only screen and (min-width: 600px) {
  .c-menu__menu-section {
    display: flex;
    flex-wrap: wrap; }
  .c-menu__item {
    width: 40rem; }
  .c-menu__title-image {
    border-radius: 3px;
    display: block;
    max-width: 25rem;
    width: 50%; } }

@media only screen and (min-width: 950px) {
  .c-menu__links {
    flex-direction: row;
    justify-content: center; }
  .c-menu__title {
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 1200px) {
  .c-menu__section-main {
    min-width: 100rem; }
  .l-drinks-container {
    display: flex;
    flex-direction: row;
    width: 100%; }
  .l-drinks-left, .l-drinks-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.c-nav {
  background-color: #cadf9e;
  position: relative;
  font-size: 2rem;
  height: 6.3rem; }
  .c-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
  .c-nav__list {
    display: flex;
    justify-content: space-around;
    padding: .7rem 0;
    list-style: none;
    width: 80%;
    max-width: 100rem; }
  .c-nav__menu-item {
    font-family: 'Special Elite', cursive;
    display: inline-block;
    position: relative; }
    .c-nav__menu-item a {
      text-decoration: none; }
    .c-nav__menu-item a:link,
    .c-nav__menu-item a:visited {
      color: #006274; }
    .c-nav__menu-item::after {
      content: "";
      width: 0%;
      background-color: #006274;
      height: 2.5px;
      position: absolute;
      bottom: -.4rem;
      left: 0;
      transition: all .2s ease-in; }
    .c-nav__menu-item:hover::after {
      width: 100%; }
  .c-nav__icon {
    background-color: #faec9b;
    border: 2px solid white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .c-nav__icon img {
      height: 56px;
      position: absolute;
      left: 15px;
      top: 6px; }
  .c-nav__burger {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .c-nav__burger div {
    width: 2.8rem;
    height: .3rem;
    background-color: #F3F6EA;
    margin: .7rem;
    border-radius: 2px;
    transition: all .3s ease; }

@media screen and (max-width: 765px) {
  nav {
    overflow-x: hidden; }
  .active {
    overflow-x: visible; }
  .c-nav__list {
    position: absolute;
    right: 0;
    top: 6.9vh;
    height: 92vh;
    background-color: #cadf9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in; }
    .c-nav__list--active {
      transform: translateY(0%); }
  .c-nav__menu-item {
    opacity: 0; }
  .c-nav__burger {
    display: block; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: transformX(5rem); }
  to {
    opacity: 1;
    transform: transformX(0rem); } }

.toggle .c-nav__burger-line1 {
  transform: rotate(-45deg) translate(-4px, 8px); }

.toggle .c-nav__burger-line2 {
  opacity: 0; }

.toggle .c-nav__burger-line3 {
  transform: rotate(45deg) translate(-6px, -10px); }

@media only screen and (min-width: 800px) {
  .c-nav__menu-item::after {
    bottom: 1rem; } }
