*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Font-size set to 62.5% because that is the result of 10/16 (set to 10 pixels, meaning 1rem = 10px */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #F3F6EA; }

.l-container {
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media only screen and (min-width: 600px) {
  .l-container {
    max-width: 85%; } }

@media only screen and (min-width: 800px) {
  .l-container {
    width: 75%;
    max-width: 80rem; } }

body {
  font-size: 1.6rem; }

p, li {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #2F4858;
  line-height: 3rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  letter-spacing: .1rem;
  line-height: 3.5rem; }

h1, h2 {
  color: #2F4858; }

h3 {
  font-size: 1.8rem; }

a {
  text-decoration: none; }
  a:active, a:visited {
    color: #2F4858; }

.c-footer {
  align-items: center;
  background: #cadf9e;
  color: #006274;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif; }
  .c-footer__copyright {
    margin: 1rem 0; }
  .c-footer__designed-by {
    margin-bottom: 1rem; }

.c-welcome {
  background: #cadf9e; }
  .c-welcome h1 {
    margin-top: 3rem; }
  .c-welcome p {
    margin: 3rem 0; }

.c-opening {
  background: linear-gradient(rgba(202, 223, 158, 0.4), rgba(202, 223, 158, 0.4)), url(../../images/interior-2.jpg);
  background-position: center bottom;
  color: white; }
  .c-opening__times {
    background: rgba(81, 81, 81, 0.45);
    border-radius: 3px;
    padding: 3rem 0;
    min-width: 80%; }
  .c-opening h2 {
    color: white; }
  .c-opening ul {
    list-style: none;
    padding-top: 2rem; }
  .c-opening li {
    color: white;
    text-align: center; }

.c-recommendations {
  background: #F3F6EA; }
  .c-recommendations h2 {
    padding-bottom: 2rem; }
  .c-recommendations__section {
    background: white;
    border: 3px solid #006274;
    width: 35rem;
    position: relative;
    height: 30rem;
    overflow: hidden; }
    .c-recommendations__section p {
      padding: 3rem 5rem; }
  .c-recommendations__image1 {
    width: 35rem;
    position: absolute;
    top: -5rem; }
  .c-recommendations__image2 {
    left: -150px;
    position: absolute;
    width: 53rem; }
  .c-recommendations__image3 {
    left: -150px;
    position: absolute;
    width: 53rem; }
  .c-recommendations__speech-before {
    position: absolute;
    width: 3rem;
    top: 1.5rem;
    left: 1.5rem; }
  .c-recommendations__speech-after {
    position: absolute;
    width: 3rem;
    bottom: 1.5rem;
    right: 1.5rem; }

.c-recommendations__main {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  grid-template-rows: repeat(6, auto);
  max-width: 115rem; }

.c-recommendations__section1 {
  grid-row-start: 1;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section2 {
  grid-row-start: 2;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section3 {
  grid-row-start: 3;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section4 {
  grid-row-start: 4;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section5 {
  grid-row-start: 5;
  grid-column-start: 2;
  border-bottom: none; }

.c-recommendations__section6 {
  grid-row-start: 6;
  grid-column-start: 2; }

@media only screen and (min-width: 800px) {
  .c-recommendations__main {
    grid-template-columns: 5rem auto auto 5rem;
    grid-template-rows: repeat(3, auto); }
  .c-recommendations__section1 {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: end;
    border-right: none; }
  .c-recommendations__section2 {
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: start; }
  .c-recommendations__section3 {
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: start; }
  .c-recommendations__section4 {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: end;
    border-right: none; }
  .c-recommendations__section5 {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: end;
    border-bottom: 3px solid #006274;
    border-right: none; }
  .c-recommendations__section6 {
    grid-row-start: 3;
    grid-column-start: 3;
    justify-self: start; } }

@media only screen and (min-width: 1200px) {
  .c-recommendations__main {
    grid-template-columns: 5rem repeat(3, auto) 5rem;
    grid-template-rows: auto auto; }
  .c-recommendations__section1 {
    grid-row-start: 1;
    grid-column-start: 2; }
  .c-recommendations__section2 {
    grid-row-start: 1;
    grid-column-start: 3; }
  .c-recommendations__section3 {
    grid-row-start: 1;
    grid-column-start: 4;
    border-left: none; }
  .c-recommendations__section4 {
    grid-row-start: 2;
    grid-column-start: 2;
    border-bottom: 3px solid #006274; }
  .c-recommendations__section5 {
    grid-row-start: 2;
    grid-column-start: 3;
    border-bottom: 3px solid #006274;
    border-right: 3px solid #006274; }
  .c-recommendations__section6 {
    grid-row-start: 2;
    grid-column-start: 4;
    border-left: none; } }

header {
  display: flex;
  flex-direction: column; }

.c-header__left {
  align-items: center;
  background: #faec9b;
  display: flex;
  min-height: 25rem;
  justify-content: center; }
  .c-header__left img {
    width: 70%;
    max-width: 40rem;
    margin: 3.5rem 0; }

.c-header__right {
  align-items: center;
  background: linear-gradient(rgba(149, 192, 59, 0.6), rgba(149, 192, 59, 0.6)), url(../../images/cake-display.jpg);
  background-position: 10%, 10%;
  display: flex;
  min-height: 25rem;
  justify-content: center; }

.c-header__text {
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-around; }
  .c-header__text h3 {
    color: white;
    padding-top: 1rem;
    text-align: center; }
  .c-header__text::before, .c-header__text::after {
    background-color: white;
    content: "";
    height: 1px;
    margin: 0 auto;
    width: 55%; }

@media only screen and (min-width: 800px) {
  .l-wrapper {
    margin: 0 auto;
    max-width: 120rem; }
  header {
    flex-direction: row; }
  .c-header__left {
    width: 50%;
    height: 40rem; }
  .c-header__right {
    width: 50%;
    height: 40rem;
    display: flex;
    align-items: flex-end; }
  .c-header__text {
    height: 23rem;
    background: rgba(81, 81, 81, 0.45);
    width: 100%;
    justify-content: center; }
    .c-header__text h3 {
      text-align: left;
      margin-left: 5rem; }
    .c-header__text::before, .c-header__text::after {
      margin: 0;
      margin-left: 5rem;
      width: 20%; }
    .c-header__text::after {
      margin-top: .7rem; } }

.c-nav {
  background-color: #cadf9e;
  position: relative;
  font-size: 2rem;
  height: 6.3rem; }
  .c-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
  .c-nav__list {
    display: flex;
    justify-content: space-around;
    padding: .7rem 0;
    list-style: none;
    width: 80%;
    max-width: 100rem; }
  .c-nav__menu-item {
    font-family: 'Special Elite', cursive;
    display: inline-block;
    position: relative; }
    .c-nav__menu-item a {
      text-decoration: none; }
    .c-nav__menu-item a:link,
    .c-nav__menu-item a:visited {
      color: #006274; }
    .c-nav__menu-item::after {
      content: "";
      width: 0%;
      background-color: #006274;
      height: 2.5px;
      position: absolute;
      bottom: -.4rem;
      left: 0;
      transition: all .2s ease-in; }
    .c-nav__menu-item:hover::after {
      width: 100%; }
  .c-nav__icon {
    background-color: #faec9b;
    border: 2px solid white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .c-nav__icon img {
      height: 56px;
      position: absolute;
      left: 15px;
      top: 6px; }
  .c-nav__burger {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .c-nav__burger div {
    width: 2.8rem;
    height: .3rem;
    background-color: #F3F6EA;
    margin: .7rem;
    border-radius: 2px;
    transition: all .3s ease; }

@media screen and (max-width: 765px) {
  .c-nav__list {
    position: absolute;
    right: 0;
    top: 6.9vh;
    height: 92vh;
    background-color: #cadf9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
    .c-nav__list--active {
      transform: translateX(0%); }
  .c-nav__menu-item {
    opacity: 0; }
  .c-nav__burger {
    display: block; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: transformX(5rem); }
  to {
    opacity: 1;
    transform: transformX(0rem); } }

.toggle .c-nav__burger-line1 {
  transform: rotate(-45deg) translate(-4px, 8px); }

.toggle .c-nav__burger-line2 {
  opacity: 0; }

.toggle .c-nav__burger-line3 {
  transform: rotate(45deg) translate(-6px, -10px); }

@media only screen and (min-width: 800px) {
  .c-nav__menu-item::after {
    bottom: 1rem; } }
