.c-about {

  &__main {
    background: white;
    padding: 2rem;
    width: 95vw; 
    
    img {
      width: 100%;
    }
  }
  
  &__quote {
    background: $colour-secondary;
    position: relative;
    width: 100%;

    p {
      padding: $size-larger 6.5rem;
    }

    img {
      width: 3rem;
      position: absolute;
    }

    &-before {
      top: 1.5rem;
      left: 1.5rem;
    }

    &-after {
      bottom: 1.5rem;
      right: 1.5rem;
    }
    
  }

  // &__speech-before {
  //   position: absolute;
  //   width: 1rem;
  //   top: 1.5rem;
  //   left: 1.5rem;
  // }
  
  // &__speech-before {
  //   position: absolute;
  // }
}



