header {
  display: flex;
  flex-direction: column;
}

// Section 1 (contains main logo)
.c-header__left {
  align-items: center;
  background: $colour-secondary;
  display: flex;
  min-height: 25rem;
  justify-content: center;
  
  // Main logo
  img {
    width: 70%;
    max-width: 40rem;
    margin: 3.5rem 0;
  }
}

// Section 2 (contains text)
.c-header__right {
  align-items: center;
  background-position: 10%, 10%;
  display: flex;
  justify-content: center;
  min-height: 25rem;

  &--home {
    background: linear-gradient(
    rgba($colour-primary-dark, .6), 
    rgba($colour-primary-dark, .6)
    ),
    url(../../images/header-home.jpg);
    background-size: cover;
    background-position: center;
  }

  &--contact {
    background: linear-gradient(
    rgba($colour-primary-dark, .6), 
    rgba($colour-primary-dark, .6)
    ),
    url(../../images/exterior.jpg);
  }

  &--about {
    background: linear-gradient(
    rgba($colour-primary-dark, .6), 
    rgba($colour-primary-dark, .6)
    ),
    url(../../images/interior-4.JPG);
    background-size: cover;
    background-position: center;
  }

  &--gallery {
    background: linear-gradient(
    rgba($colour-primary-dark, .6), 
    rgba($colour-primary-dark, .6)
    ),
    url(../../images/image-gallery/afternoon-tea-2.jpg);
    background-position: bottom center;
  }

  &--menu {
    background: linear-gradient(
    rgba($colour-primary-dark, .6), 
    rgba($colour-primary-dark, .6)
    ),
    url(../../images/image-gallery/cake-and-tea.jpg);
    background-size: cover;
    background-position: center;
  }
}

.c-header__text {
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-around;
  text-shadow: $text-shadow;

  h3 {
    color: white;
    padding-top: $size-medium;
    text-align: center;
  }

  // Lines before and after text
  &::before, &::after {
    background-color: white;
    content: "";
    height: 1px;
    margin: 0 auto;
    width: 55%;
  }
}

@media only screen and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  .c-header__left {
    width: 50%;
    height: 40rem;
  }

  .c-header__right {
    width: 50%;
    height: 40rem;
    display: flex;
    align-items: flex-end;
  }

  .c-header__text {
    height: 23rem;
    background: rgba(#515151, .45);
    width: 100%;
    justify-content: center;

    h3 {
      text-align: left;
      margin-left: 5rem;
    }

    &::before, &::after {
      margin: 0;
      margin-left: 5rem;
      width: 20%;
    }

    &::after {
      margin-top: .7rem;
    }
  }
}