.c-welcome {
  background: $colour-primary;

  h1 {
    margin-top: 3rem;
  }
}

// Opening hours section

.c-opening {
  background: linear-gradient(
    rgba($colour-primary, .4), 
    rgba($colour-primary, .4)
    ),
    url(../../images/interior-2.jpg);
    background-position: center bottom;
    background-size: cover;
    color: white;

    &__times {
      background: rgba(#000000, .25);
      border-radius: 3px;
      min-width: 80%;
      margin: $size-larger 0;
      padding: $size-larger 0;
    }

    h2 {
      color: white;
    }

    ul {
      list-style: none;
      padding-top: $size-large;
    }

    li {
      color: white;
      text-align: center;
    }
}

// Recommendations section

.c-recommendations {
  background: $colour-light;
  padding: $size-larger 0;

  h2 {
    padding-bottom: $size-large;
  }

  &__section {
    background: white;
    border: 3px solid $colour-dark;
    width: 35rem;
    position: relative;
    height: 30rem;
    overflow: hidden;

    p {
      padding: $size-larger 5rem;
    }
  }

  &__image1 {
    width: 35rem;
    position: absolute;
    top: -5rem;
  }

  &__image2 {
    left: -150px;
    position: absolute;
    width: 53rem;    
  }

  &__image3 {
    left: -150px;
    position: absolute;
    width: 53rem;
  }

  &__speech-before {
    position: absolute;
    width: 3rem;
    top: 1.5rem;
    left: 1.5rem;
  }

  &__speech-after {
    position: absolute;
    width: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

// For layout of recommendations section

.c-recommendations {
  &__main {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: repeat(6, auto);
    max-width: 115rem;
  }

  &__section1 {
    grid-row-start: 1;
    grid-column-start: 2;
    border-bottom: none;
  }

  &__section2 {
    grid-row-start: 2;
    grid-column-start: 2;
    border-bottom: none;
  }

  &__section3 {
    grid-row-start: 3;
    grid-column-start: 2;
    border-bottom: none;
  }

  &__section4 {
    grid-row-start: 4;
    grid-column-start: 2;
    border-bottom: none;
  }

  &__section5 {
    grid-row-start: 5;
    grid-column-start: 2;
    border-bottom: none;
  }

  &__section6 {
    grid-row-start: 6;
    grid-column-start: 2;
  }
}

@media only screen and (min-width: 800px) {
  .c-recommendations {
    &__main {
      grid-template-columns: 5rem auto auto 5rem;
      grid-template-rows: repeat(3, auto);
    }
  
    &__section1 {
      grid-row-start: 1;
      grid-column-start: 2;
      justify-self: end;
      border-right: none;
    }
  
    &__section2 {
      grid-row-start: 1;
      grid-column-start: 3;
      justify-self: start;
    }
  
    &__section3 {
      grid-row-start: 2;
      grid-column-start: 3;
      justify-self: start;
    }
  
    &__section4 {
      grid-row-start: 2;
      grid-column-start: 2;
      justify-self: end;
      border-right: none;
    }
  
    &__section5 {
      grid-row-start: 3;
      grid-column-start: 2;
      justify-self: end;
      border-bottom: 3px solid $colour-dark;
      border-right: none;
    }
  
    &__section6 {
      grid-row-start: 3;
      grid-column-start: 3;
      justify-self: start;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .c-recommendations {
    &__main {
      grid-template-columns: 5rem repeat(3, auto) 5rem;
      grid-template-rows: auto auto;
    }

    &__section1 {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    &__section2 {
      grid-row-start: 1;
      grid-column-start: 3;
    }

    &__section3 {
      grid-row-start: 1;
      grid-column-start: 4;
      border-left: none;
    }

    &__section4 {
      grid-row-start: 2;
      grid-column-start: 2;
      border-bottom: 3px solid $colour-dark;
    }

    &__section5 {
      grid-row-start: 2;
      grid-column-start: 3;
      border-bottom: 3px solid $colour-dark;
      border-right: 3px solid $colour-dark;
    }

    &__section6 {
      grid-row-start: 2;
      grid-column-start: 4;
      border-left: none;
    }
  }
}
