.c-menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  button {
    width: 16rem;
    margin: 1rem;
    padding: .7rem 0;
    padding-top: 1rem;
    background: none;
    border: 2px solid $colour-darker;
    font-family: 'Special Elite', cursive;
    color: $colour-darker;
    cursor: pointer;
  }

  button.active {
    background-color: $colour-darker;
    color: white;
  }
}

.c-menu {
  &__title {
    background: linear-gradient(
      rgba($colour-primary, .1),
      rgba($colour-primary, .4)
      ),
      url(../../images/breaky.jpg);
    background-position: center;
    background-size: 55rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    height: 24rem;
    
    h2, h3 {
      color: white;
      text-shadow: $text-shadow; 
      text-align: left;
      padding-top: 2rem;
      margin-left: 3rem;
      max-width: 90%;
    }
  }

  &__section-main {
    max-width: 100rem;
    border: 3px solid $colour-darker;
    margin-bottom: $size-larger;
  }

  &__menu-section {
    padding-top: $size-larger;
    text-align: center;
  }

  &__item-name {
    font-family: 'Special Elite', cursive;
    font-size: $font-title-regular;
  }

  &__item {
    min-width: 40rem;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: $size-larger;
    color: $colour-darker;
    
    p {
      font-size: $font-regular;
      line-height: $size-large;
    }
  }

  &__item-extra {
    margin-top: -4rem;
    font-weight: bold;

  }
}

// ********** Sandwiches section **********

.c-menu__sandwiches {
  &-titles {
    display: none; 
  }

  &-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: $size-medium;
    font-family: 'Open Sans', sans-serif;
    color: $colour-darker;
  }
}

// ********** Hot drinks section **********

.c-menu__menu-section-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: $colour-darker;
    margin: 2rem 0;
  }

  p {
    margin-top: -3rem;
    font-size: $font-regular;
    font-style: italic;
    text-align: center;
  }
}

.c-menu__drink-item {
  display: flex;
  justify-content: space-between;
  
  div {
    font-size: $font-regular-plus;
    font-family: 'Open Sans', sans-serif;
  }
  
}

// For lists of different drink options
.c-menu__drink-list {
  border: 1px solid red;
  max-width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: -2rem;
  margin-bottom: 1.5rem;

  li {
    padding: 0 .4em;
    margin: .2em .4em;
    font-size: $font-regular;
    font-style: italic;
  }
}

// ********** Menu tabs animation **********

.tabcontent {
  display: none;
}

.tabcontent {
  animation: fadeEffect 2.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

// Media queries

@media only screen and (min-width: 600px) {
 

  .c-menu {

    &__title {
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__menu-section {
     display: flex;
     flex-wrap: wrap;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .c-menu__links {
    flex-direction: row;
    justify-content: center;
  }
  
  .c-menu {
    &__section-main {
      min-width: 100rem;
    }
  }

  .l-drinks-container {    
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .l-drinks-left, .l-drinks-right {
    width: 50%;
  }
}