.c-menu__links {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-top: 1rem;

  button {
    background: none;
    border: 2px solid $colour-darker;
    color: $colour-darker;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    margin: 1rem;
    padding: 1rem 0 .7rem 0;
    width: 16rem;
    outline: none;
  }

  button:hover{
    background-color: lighten($colour-secondary, 10%);
  }

  button.active {
    background-color: $colour-darker;
    color: white;
  }
}

.c-menu {
  // Sets the background image for the menu sections
  &__title-breakfast {
    background: url(../../images/menu-eggs.jpg);
    // background-position-y: 20rem;
    background-position: center center;
  }

  &__title-drinks {
    background: url(../../images/coffees.jpg);
    background-size: 30rem;
  }

  &__title-mains {
    background: url(../../images/menu-hotdog.JPG);
    background-size: 55rem;
    background-position-y: 40rem;
  }

  &__title-sandwiches {
    background: url(../../images/image-gallery/wrap.jpg);

    background-size: 55rem;
    background-position-y: 40rem;
  }

  &__title-nibbles {
    background-image: url(../../images/image-gallery/chocolate-orange-cake.jpg);
    background-position-x: center top;
  }

  // Styling for all menu section title sections
  &__title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    height: 24rem;
    background-color: $colour-secondary;
    background-size: cover;
    
    h2, h3 {
      color: white;
      text-shadow: $text-shadow; 
      text-align: left;
      padding-top: 2rem;
      margin-left: 3rem;
      max-width: 90%;
    }
  }

  // Styling for the main menu sections
  &__section-main {
    background-color: lighten($colour-secondary,10%);
    border: 3px solid $colour-darker;
    margin-bottom: $size-larger;
    max-width: 100rem;
    width: 90vw;    
  }

  &__menu-section {
    padding-top: $size-larger;
    text-align: center;
  }

  // Styling for each menu item
  &__item-name {
    font-family: 'Special Elite', cursive;
    font-size: $font-title-regular;
  }

  &__item {
    color: $colour-darker;
    margin: 0 auto;
    margin-bottom: $size-larger;
    max-width: 40rem;
    min-width: 25rem;
    padding: $size-medium;
    text-align: center;
    
    p {
      font-size: $font-regular;
      line-height: $size-large;
    }
  }

  &__item-extra {
    font-weight: bold;
    margin-top: -4rem;
  }
}

// ********** Sandwiches section **********

.c-menu {
  &__sandwiches-prices {
    color: $colour-darker;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    padding-top: $size-medium;
  }

  // Centre-align the intro text in sandwiches section
  &__menu-section-sandwiches {
    p {
      margin: 0 auto;
    }
  }
}



// ********** Hot drinks section **********

.c-menu__menu-section-drinks {
  align-items: center;
  display: flex;
  flex-direction: column;

  h3 {
    color: $colour-darker;
    margin: 2rem 0;
  }

  p {
    font-size: $font-regular;
    font-style: italic;
    text-align: center;
    margin-top: -3rem;
  }
}

.c-menu__drink-item {
  // Needed if prices are added back in:
  // display: flex;
  // justify-content: space-between;
  
  div {
    text-align: center;
    font-size: $font-regular-plus;
    font-family: 'Open Sans', sans-serif;
  }
}

// For lists of different drink options
.c-menu__drink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
  max-width: 40rem;

  li {
    font-size: $font-regular;
    font-style: italic;
    margin: .2em .4em;
    padding: 0 .4em;
  }
}

// ********** Menu tabs animation **********
.tabcontent {
  display: none;
}

.tabcontent {
  animation: fadeEffect 2.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

// Media queries

@media only screen and (min-width: 600px) {
  .c-menu {
    &__menu-section {
     display: flex;
     flex-wrap: wrap;
    }

    &__item {
      width: 40rem;
    }

    &__title-image {
      border-radius: 3px;
      display: block;
      max-width: 25rem;
      width: 50%;      
    }
  }
}

@media only screen and (min-width: 950px) {
  .c-menu__links {
    flex-direction: row;
    justify-content: center;
  }
  
  .c-menu {
    &__title {
      background-size: 50%;
      background-position: right;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (min-width: 1200px) {  
  .c-menu {
    &__section-main {
      min-width: 100rem;
    }   
  }

  // Drinks in two columns
  .l-drinks-container {    
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .l-drinks-left, .l-drinks-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}