.l-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-wrapper {
  background: $colour-primary;
}

@media only screen and (min-width: 600px) {
  .l-container {
    max-width: 85%;
  }
}

@media only screen and (min-width: 800px) {
  .l-wrapper {
    margin: 0 auto;
    max-width: 120rem;
  }
  
  .l-container {
    width: 75%;
    max-width: 100rem;
  }
}