body {
  font-size: 1.6rem;
}

p {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  // line-height: 3.5rem;
  // letter-spacing: .15rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
}